*{
    font-family: 'Barlow Condensed', sans-serif;
}

.body-container {
    text-align: center;
}

.title-start-screen {
    position: absolute;
    top: 15%;
    left: 60%;
    font-size: 60px;
    text-align: left;
    font-weight: 600;
    line-height: 50px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#img-start{
    padding: 20px;
}

.image-character {
    height: 400px;
}


.start-button {
    font-size: 30px;
    color: white;
    background-color: black;
    padding: 10px;
}

.start-button:hover {
    color: black;
    background-color: white;
    border: 3px solid black;
    font-weight: 600;
}



canvas {
    border: 1px solid black;
}





